MAC_SILICON-M2_OMPI-5.0.3_PETSC-3.20
MAC_SILICON-M2_OMPI-5.0.3_PETSC-3.20-debug
MAC_SILICON-M2_MPICH-4.2.1_PETSC-3.20-gcc-12.3.0
MAC_SILICON-M2_MPICH-4.2.1_PETSC-3.20-gcc-12.3.0-64bit
mac-optimal-mpi-3.20
mac-studio-optimal
test
.vscode
input
Original
.DS_Store
NASA
NASA_panda
NASAv2
HPC_Petsc-3.20_OMPI-4.1.5_gcc-11.3.1-2clspqh/*
src/*
include/* 
docs/*
lib/*
HPC_Petsc-3.20/*
HPC_Petsc-3.20_gcc-13.2.0_omp-4.1.5/*
HPC_Petsc-3.20_gcc-13.2.0_omp-5.0.1/*
